In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler, PolynomialFeatures
from sklearn.impute import SimpleImputer
import category_encoders as ce

# Function to load dataset dynamically
def load_dataset(dataset_name):
    dataset_paths = {
        "Bank_churn": r"C:\Users\Administrator\Desktop\charun\churn_data\Bank_churn.csv",
        "BankChurners": r"C:\Users\Administrator\Desktop\charun\churn_data\BankChurners.csv",
        "churn_bigml_80": r"C:\Users\Administrator\Desktop\charun\churn_data\churn-bigml-80.csv",
        "Customertravel": r"C:\Users\Administrator\Desktop\charun\churn_data\Customertravel.csv",
        "E_Commerce": r"C:\Users\Administrator\Desktop\charun\churn_data\E Commerce Dataset.csv",
        "ecom_user_churn": r"C:\Users\Administrator\Desktop\charun\churn_data\ecom-user-churn-data.csv",
        "internet_service_churn": r"C:\Users\Administrator\Desktop\charun\churn_data\internet_service_churn.csv",
        "orange_telecom": r"C:\Users\Administrator\Desktop\charun\churn_data\orange_telecom.csv",
        "subscription_service_train": r"C:\Users\Administrator\Desktop\charun\churn_data\subscription_service_train.csv",
        "Telco_Customer_Churn": r"C:\Users\Administrator\Desktop\charun\churn_data\Telco-Customer-Churn.csv",
        "telecom_churn": r"C:\Users\Administrator\Desktop\charun\churn_data\telecom_churn.csv"
    }
    return pd.read_csv(dataset_paths[dataset_name])

def handle_missing_values(df):
    print("Handling missing values...")
    # Handle numeric missing values
    numeric_cols = df.select_dtypes(include=['number']).columns
    if not numeric_cols.empty:
        df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

    # Handle non-numeric missing values
    non_numeric_cols = df.select_dtypes(exclude=['number']).columns
    if not non_numeric_cols.empty:
        mode_values = df[non_numeric_cols].mode()
        if not mode_values.empty:
            df[non_numeric_cols] = df[non_numeric_cols].fillna(mode_values.iloc[0])
    
    # Drop columns with more than 50% missing values
    missing_percentage = df.isna().mean()
    cols_to_drop = missing_percentage[missing_percentage > 0.5].index
    df = df.drop(columns=cols_to_drop)
    
    return df

def encode_categorical_features(df):
    print("Encoding categorical features...")
    df = pd.get_dummies(df, drop_first=True)
    return df

def scale_numeric_features(df):
    print("Scaling numeric features...")
    numeric_cols = df.select_dtypes(include=['number']).columns
    if not numeric_cols.empty:
        scaler = StandardScaler()
        df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
    return df

def bin_numeric_features(df):
    print("Binning numeric features...")
    # Define binning function
    def bin_column(column, bins, labels):
        if column is not None and not column.empty:
            return pd.cut(column, bins=bins, labels=labels)
        return column

    # Ensure 'daymins' is numeric and handle NaNs
    if 'daymins' in df.columns:
        df['daymins'] = pd.to_numeric(df['daymins'], errors='coerce')
        df = df.dropna(subset=['daymins'])
        if not df['daymins'].empty:
            df['daymins_group'] = bin_column(df['daymins'], bins=[0, 100, 200, 300, 400], labels=['0-100', '100-200', '200-300', '300+'])

    # Ensure 'monthlycharge' is numeric and handle NaNs
    if 'monthlycharge' in df.columns:
        df['monthlycharge'] = pd.to_numeric(df['monthlycharge'], errors='coerce')
        df = df.dropna(subset=['monthlycharge'])
        if not df['monthlycharge'].empty:
            df['monthlycharge_group'] = bin_column(df['monthlycharge'], bins=[0, 30, 70, 120], labels=['low', 'medium', 'high'])

    return df

def create_feature_interactions(df):
    print("Creating feature interactions...")
    interaction_cols = ['daymins', 'monthlycharge']  # Example columns

    # Print the columns available in the DataFrame for debugging
    print("Columns available for interaction features:")
    print(df.columns.tolist())

    # Ensure all interaction columns are numeric
    for col in interaction_cols:
        if col in df.columns:
            df[col] = pd.to_numeric(df[col], errors='coerce')
        else:
            print(f"Warning: Column '{col}' not found in DataFrame.")
    
    # Drop rows with NaNs in the interaction columns
    df = df.dropna(subset=interaction_cols)

    # Print the data types and missing values for debugging
    print("Data types before interaction features:")
    print(df.dtypes)
    print("Missing values before interaction features:")
    print(df[interaction_cols].isna().sum())

    # Create interaction features if columns are available
    if all(col in df.columns for col in interaction_cols):
        poly = PolynomialFeatures(degree=2, interaction_only=True, include_bias=False)
        interaction_features = poly.fit_transform(df[interaction_cols])
        interaction_df = pd.DataFrame(interaction_features, columns=poly.get_feature_names_out(interaction_cols))
        df = pd.concat([df, interaction_df], axis=1)
    
    return df

def feature_engineering_pipeline(df, dataset_type):
    df = handle_missing_values(df)
    df = encode_categorical_features(df)
    df = scale_numeric_features(df)
    df = create_feature_interactions(df)
    df = bin_numeric_features(df)
    return df

def main(dataset_name, dataset_type):
    print(f"Loading dataset: {dataset_name}")
    df = load_dataset(dataset_name)

    print(f"Performing EDA on {dataset_name}...")
    # eda(df)  # Uncomment if you have an EDA function

    print("Applying feature engineering...")
    df = feature_engineering_pipeline(df, dataset_type)

    print("Feature engineering complete. Here's a preview of the processed data:")
    print(df.head())

    return df

# List of datasets to process
datasets = [
    "Bank_churn", "BankChurners", "churn_bigml_80", "Customertravel", 
    "E_Commerce", "ecom_user_churn", "internet_service_churn", 
    "orange_telecom", "subscription_service_train", 
    "Telco_Customer_Churn", "telecom_churn"
]

# Process each dataset
for dataset_name in datasets:
    print(f"Processing {dataset_name}...")
    processed_df = main(dataset_name, dataset_type="generic")  # Adjust dataset_type if needed
    print(f"Processing complete for {dataset_name}\n")

Processing Bank_churn...
Loading dataset: Bank_churn
Performing EDA on Bank_churn...
Applying feature engineering...
Handling missing values...
Encoding categorical features...
Scaling numeric features...
Creating feature interactions...
Columns available for interaction features:

KeyError: ['daymins', 'monthlycharge']

In [46]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import PolynomialFeatures

def load_and_preprocess_data(dataset_name, dataset_path):
    # Load the dataset
    data = pd.read_csv(dataset_path)
    
    # Display the first few rows and columns of the dataset
    print(f"Processing dataset: {dataset_name}")
    print(data.head())
    print("Columns in the dataset:")
    print(data.columns.tolist())

    # Define target and feature columns based on dataset
    if dataset_name == "Bank_churn":
        target_col = 'churn'
        feature_cols = data.columns.difference([target_col, 'rownumber', 'customerid', 'surname'])
        numeric_features = ['creditscore', 'age', 'tenure', 'balance', 'numofproducts', 'estimatedsalary']
        categorical_features = ['geography', 'gender']
        
    elif dataset_name == "BankChurners":
        target_col = 'churn'
        feature_cols = data.columns.difference([target_col, 'clientnum'])
        numeric_features = [
            'customer_age', 'dependent_count', 'months_on_book', 'total_relationship_count',
            'months_inactive_12_mon', 'contacts_count_12_mon', 'credit_limit', 'total_revolving_bal',
            'avg_open_to_buy', 'total_amt_chng_q4_q1', 'total_trans_amt', 'total_trans_ct',
            'total_ct_chng_q4_q1', 'avg_utilization_ratio'
        ]
        categorical_features = [
            'gender', 'education_level', 'marital_status', 'income_category', 'card_category'
        ]

    elif dataset_name == "churn_bigml_80":
        target_col = 'churn'
        feature_cols = data.columns.difference([target_col])
        numeric_features = [
            'account length', 'total day minutes', 'total day calls', 'total day charge',
            'total eve minutes', 'total eve calls', 'total eve charge', 'total night minutes',
            'total night calls', 'total night charge', 'total intl minutes', 'total intl calls',
            'total intl charge', 'customer service calls'
        ]
        categorical_features = [
            'state', 'international plan', 'voice mail plan'
        ]

    elif dataset_name == "Customertravel":
        target_col = 'churn'
        feature_cols = data.columns.difference([target_col])
        numeric_features = []  # No numeric features in this dataset
        categorical_features = [
            'age', 'frequentflyer', 'annualincomeclass', 'servicesopted',
            'accountsyncedtosocialmedia', 'bookedhotelornot'
        ]

    elif dataset_name == "E_Commerce":
        target_col = 'churn'
        feature_cols = data.columns.difference([target_col, 'customerid'])
        numeric_features = [
            'tenure', 'hourspendonapp', 'numberofdeviceregistered', 'satisfactionscore',
            'numberofaddress', 'orderamounthikefromlastyear', 'ordercount', 'daysincelastorder',
            'cashbackamount'
        ]
        categorical_features = [
            'preferredlogindevice', 'citytier', 'warehousetohome', 'preferredpaymentmode',
            'gender', 'preferedordercat', 'maritalstatus', 'complain', 'couponused'
        ]

    else:
        raise ValueError("Unknown dataset name")

    # Check for missing columns in the dataset
    missing_numeric_features = [col for col in numeric_features if col not in data.columns]
    missing_categorical_features = [col for col in categorical_features if col not in data.columns]
    
    if missing_numeric_features:
        print(f"Warning: Missing numeric features: {missing_numeric_features}")
    if missing_categorical_features:
        print(f"Warning: Missing categorical features: {missing_categorical_features}")

    # Adjust feature columns based on missing columns
    numeric_features = [col for col in numeric_features if col in data.columns]
    categorical_features = [col for col in categorical_features if col in data.columns]

    # Split features and target
    X = data[feature_cols]
    y = data[target_col]

    # Define preprocessing pipelines
    numeric_pipeline = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='mean')),  # Fill missing values with mean
        ('scaler', StandardScaler())  # Standardize features
    ]) if numeric_features else None

    categorical_pipeline = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='most_frequent')),  # Fill missing values with most frequent value
        ('onehot', OneHotEncoder(drop='first'))  # One hot encode categorical features
    ])

    # Combine preprocessing steps
    transformers = []
    if numeric_pipeline:
        transformers.append(('num', numeric_pipeline, numeric_features))
    if categorical_pipeline:
        transformers.append(('cat', categorical_pipeline, categorical_features))

    preprocessor = ColumnTransformer(
        transformers=transformers
    )

    # Preprocessing and feature engineering
    X_processed = preprocessor.fit_transform(X)

    # Feature interactions
    poly = PolynomialFeatures(degree=2, interaction_only=True, include_bias=False)
    X_interactions = poly.fit_transform(X_processed)

    # Split the dataset into training and testing
    X_train, X_test, y_train, y_test = train_test_split(X_interactions, y, test_size=0.2, random_state=42)

    # Display the shapes of the resulting datasets
    print(f"Dataset: {dataset_name}")
    print("Training data shape:", X_train.shape)
    print("Testing data shape:", X_test.shape)
    print("Training target shape:", y_train.shape)
    print("Testing target shape:", y_test.shape)
    
    return X_train, X_test, y_train, y_test

# Paths to the datasets
dataset_paths = {
    "Bank_churn": r"C:\Users\Administrator\Desktop\charun\churn_data\Bank_churn.csv",
    "BankChurners": r"C:\Users\Administrator\Desktop\charun\churn_data\BankChurners.csv",
    "churn_bigml_80": r"C:\Users\Administrator\Desktop\charun\churn_data\churn-bigml-80.csv",
    "Customertravel": r"C:\Users\Administrator\Desktop\charun\churn_data\Customertravel.csv",
    "E_Commerce": r"C:\Users\Administrator\Desktop\charun\churn_data\E Commerce Dataset.csv"
}

# Process each dataset
for dataset_name, dataset_path in dataset_paths.items():
    X_train, X_test, y_train, y_test = load_and_preprocess_data(dataset_name, dataset_path)
    print(f"Processing complete for {dataset_name}\n")

Processing dataset: Bank_churn
   rownumber  customerid   surname  creditscore geography  gender  age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   tenure    balance  numofproducts  hascrcard  isactivemember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   estimatedsalary  churn
0        101348.88      1
1        112542.58      0
2        113931.57      1
3         93826.63      0
4         79084.10      0
Columns in the dataset:
['rownumber', 'customerid', 'surname', 'creditscore', 'geography', 'gender', 'age', 'tenure', 'balance', 'numofproducts', 'hascrcard', 'isactivemember', 'estimatedsalary', 'churn']
Dataset: Bank_churn
Training data shape: (8000, 45)
Testing data shape: (2000, 45)
Training target shape: (8000,)
Testing target shape: (2000,)
Processing complete for Bank_churn

Processing dataset: BankChurners
   clientnum  churn  customer_age gender  dependent_count education_level  \
0  768805383      0            45      M                3     High School
1  818770008      0            49      F                5        Graduate
2  713982108      0            51      M                3        Graduate
3  769911858      0            40      F                4     High School
4  709106358      0            40      M                3      Uneducated

  marital_status income_category card_category  months_on_book  ...  \
0        Married     $60K - $80K          Blue              39  ...
1         Single  Less than $40K          Blue              44  ...
2        Married    $80K - $120K          Blue              36  ...
3        Unknown  Less than $40K          Blue              34  ...
4        Married     $60K - $80K          Blue              21  ...

   credit_limit  total_revolving_bal  avg_open_to_buy  total_amt_chng_q4_q1  \
0       12691.0                  777          11914.0                 1.335
1        8256.0                  864           7392.0                 1.541
2        3418.0                    0           3418.0                 2.594
3        3313.0                 2517            796.0                 1.405
4        4716.0                    0           4716.0                 2.175

   total_trans_amt  total_trans_ct  total_ct_chng_q4_q1  \
0             1144              42                1.625
1             1291              33                3.714
2             1887              20                2.333
3             1171              20                2.333
4              816              28                2.500

   avg_utilization_ratio  \
0                  0.061
1                  0.105
2                  0.000
3                  0.760
4                  0.000

   naive_bayes_classifier_attrition_flag_card_category_contacts_count_12_mon_dependent_count_education_level_months_inactive_12_mon_1  \
0                                           0.000093
1                                           0.000057
2                                           0.000021
3                                           0.000134
4                                           0.000022

   naive_bayes_classifier_attrition_flag_card_category_contacts_count_12_mon_dependent_count_education_level_months_inactive_12_mon_2
0                                            0.99991
1                                            0.99994
2                                            0.99998
3                                            0.99987
4                                            0.99998

[5 rows x 23 columns]
Columns in the dataset:
['clientnum', 'churn', 'customer_age', 'gender', 'dependent_count', 'education_level', 'marital_status', 'income_category', 'card_category', 'months_on_book', 'total_relationship_count', 'months_inactive_12_mon', 'contacts_count_12_mon', 'credit_limit', 'total_revolving_bal', 'avg_open_to_buy', 'total_amt_chng_q4_q1', 'total_trans_amt', 'total_trans_ct', 'total_ct_chng_q4_q1', 'avg_utilization_ratio', 'naive_bayes_classifier_attrition_flag_card_category_contacts_count_12_mon_dependent_count_education_level_months_inactive_12_mon_1', 'naive_bayes_classifier_attrition_flag_card_category_contacts_count_12_mon_dependent_count_education_level_months_inactive_12_mon_2']
Dataset: BankChurners
Training data shape: (8101, 528)
Testing data shape: (2026, 528)
Training target shape: (8101,)
Testing target shape: (2026,)
Processing complete for BankChurners

Processing dataset: churn_bigml_80
  state  account length  area code international plan voice mail plan  \
0    KS             128        415                 No             Yes
1    OH             107        415                 No             Yes
2    NJ             137        415                 No              No
3    OH              84        408                Yes              No
4    OK              75        415                Yes              No

   number vmail messages  total day minutes  total day calls  \
0                     25              265.1              110
1                     26              161.6              123
2                      0              243.4              114
3                      0              299.4               71
4                      0              166.7              113

   total day charge  total eve minutes  total eve calls  total eve charge  \
0             45.07              197.4               99             16.78
1             27.47              195.5              103             16.62
2             41.38              121.2              110             10.30
3             50.90               61.9               88              5.26
4             28.34              148.3              122             12.61

   total night minutes  total night calls  total night charge  \
0                244.7                 91               11.01
1                254.4                103               11.45
2                162.6                104                7.32
3                196.9                 89                8.86
4                186.9                121                8.41

   total intl minutes  total intl calls  total intl charge  \
0                10.0                 3               2.70
1                13.7                 3               3.70
2                12.2                 5               3.29
3                 6.6                 7               1.78
4                10.1                 3               2.73

   customer service calls  churn
0                       1      0
1                       1      0
2                       0      0
3                       2      0
4                       3      0
Columns in the dataset:
['state', 'account length', 'area code', 'international plan', 'voice mail plan', 'number vmail messages', 'total day minutes', 'total day calls', 'total day charge', 'total eve minutes', 'total eve calls', 'total eve charge', 'total night minutes', 'total night calls', 'total night charge', 'total intl minutes', 'total intl calls', 'total intl charge', 'customer service calls', 'churn']
Dataset: churn_bigml_80
Training data shape: (2132, 2211)
Testing data shape: (534, 2211)
Training target shape: (2132,)
Testing target shape: (534,)
Processing complete for churn_bigml_80

Processing dataset: Customertravel
   age frequentflyer annualincomeclass  servicesopted  \
0   34            No     Middle Income              6
1   34           Yes        Low Income              5
2   37            No     Middle Income              3
3   30            No     Middle Income              2
4   30            No        Low Income              1

  accountsyncedtosocialmedia bookedhotelornot  churn
0                         No              Yes      0
1                        Yes               No      1
2                        Yes               No      0
3                         No               No      0
4                         No               No      0
Columns in the dataset:
['age', 'frequentflyer', 'annualincomeclass', 'servicesopted', 'accountsyncedtosocialmedia', 'bookedhotelornot', 'churn']
Dataset: Customertravel
Training data shape: (763, 231)
Testing data shape: (191, 231)
Training target shape: (763,)
Testing target shape: (191,)
Processing complete for Customertravel

Processing dataset: E_Commerce
   customerid  churn  tenure preferredlogindevice  citytier  warehousetohome  \
0       50001      1     4.0         Mobile Phone         3              6.0
1       50002      1     NaN                Phone         1              8.0
2       50003      1     NaN                Phone         1             30.0
3       50004      1     0.0                Phone         3             15.0
4       50005      1     0.0                Phone         1             12.0

  preferredpaymentmode  gender  hourspendonapp  numberofdeviceregistered  \
0           Debit Card  Female             3.0                         3
1                  UPI    Male             3.0                         4
2           Debit Card    Male             2.0                         4
3           Debit Card    Male             2.0                         4
4                   CC    Male             NaN                         3

     preferedordercat  satisfactionscore maritalstatus  numberofaddress  \
0  Laptop & Accessory                  2        Single                9
1              Mobile                  3        Single                7
2              Mobile                  3        Single                6
3  Laptop & Accessory                  5        Single                8
4              Mobile                  5        Single                3

   complain  orderamounthikefromlastyear  couponused  ordercount  \
0         1                         11.0         1.0         1.0
1         1                         15.0         0.0         1.0
2         1                         14.0         0.0         1.0
3         0                         23.0         0.0         1.0
4         0                         11.0         1.0         1.0

   daysincelastorder  cashbackamount
0                5.0          159.93
1                0.0          120.90
2                3.0          120.28
3                3.0          134.07
4                3.0          129.60
Columns in the dataset:
['customerid', 'churn', 'tenure', 'preferredlogindevice', 'citytier', 'warehousetohome', 'preferredpaymentmode', 'gender', 'hourspendonapp', 'numberofdeviceregistered', 'preferedordercat', 'satisfactionscore', 'maritalstatus', 'numberofaddress', 'complain', 'orderamounthikefromlastyear', 'couponused', 'ordercount', 'daysincelastorder', 'cashbackamount']
Dataset: E_Commerce
Training data shape: (4504, 3003)
Testing data shape: (1126, 3003)
Training target shape: (4504,)
Testing target shape: (1126,)
Processing complete for E_Commerce

In [38]:
import pandas as pd
from sklearn.impute import KNNImputer

# Load the dataset
df_telco = pd.read_csv('churn_data/Telco-Customer-Churn.csv')

# Separate numeric and categorical columns
numeric_cols = df_telco.select_dtypes(include=['number']).columns
categorical_cols = df_telco.select_dtypes(include=['object']).columns

# Extract numeric and categorical data
df_numeric = df_telco[numeric_cols]
df_categorical = df_telco[categorical_cols]

# Impute missing values in categorical data with mode
df_categorical.fillna(df_categorical.mode().iloc[0], inplace=True)

# Initialize and apply KNNImputer to numeric data
imputer = KNNImputer(n_neighbors=5)
df_numeric_imputed = imputer.fit_transform(df_numeric)

# Convert the imputed numeric data back to a DataFrame
df_numeric_imputed = pd.DataFrame(df_numeric_imputed, columns=numeric_cols)

# Combine imputed numeric data with imputed categorical data
df_telco_imputed = pd.concat([df_numeric_imputed, df_categorical.reset_index(drop=True)], axis=1)

# Convert object columns to appropriate data types
df_telco_imputed['totalcharges'] = pd.to_numeric(df_telco_imputed['totalcharges'], errors='coerce')
df_telco_imputed['totalcharges'].fillna(df_telco_imputed['totalcharges'].median(), inplace=True)

# Encode categorical columns
for col in df_telco_imputed.select_dtypes(include=['object']).columns:
    df_telco_imputed[col] = df_telco_imputed[col].astype('category').cat.codes

# Check the result
print(df_telco_imputed.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   seniorcitizen     7043 non-null   float64
 1   tenure            7043 non-null   float64
 2   monthlycharges    7043 non-null   float64
 3   churn             7043 non-null   float64
 4   customerid        7043 non-null   int16
 5   gender            7043 non-null   int8
 6   partner           7043 non-null   int8
 7   dependents        7043 non-null   int8
 8   phoneservice      7043 non-null   int8
 9   multiplelines     7043 non-null   int8
 10  internetservice   7043 non-null   int8
 11  onlinesecurity    7043 non-null   int8
 12  onlinebackup      7043 non-null   int8
 13  deviceprotection  7043 non-null   int8
 14  techsupport       7043 non-null   int8
 15  streamingtv       7043 non-null   int8
 16  streamingmovies   7043 non-null   int8
 17  contract          7043 non-null   int8
 18  paperlessbilling  7043 non-null   int8
 19  paymentmethod     7043 non-null   int8
 20  totalcharges      7043 non-null   float64
dtypes: float64(5), int16(1), int8(15)
memory usage: 392.2 KB
None

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13844\2170889617.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.fillna(df_categorical.mode().iloc[0], inplace=True)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_13844\2170889617.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_telco_imputed['totalcharges'].fillna(df_telco_imputed['totalcharges'].median(), inplace=True)

In [35]:
# Show the first few rows
print(df_telco.head())

# Get information about the data
print(df_telco.info())

# Summary statistics
print(df_telco.describe(include='all'))

   customerid  gender  seniorcitizen partner dependents  tenure phoneservice  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      multiplelines internetservice onlinesecurity  ... deviceprotection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  techsupport streamingtv streamingmovies        contract paperlessbilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               paymentmethod monthlycharges  totalcharges churn
0           Electronic check          29.85         29.85     0
1               Mailed check          56.95        1889.5     0
2               Mailed check          53.85        108.15     1
3  Bank transfer (automatic)          42.30       1840.75     0
4           Electronic check          70.70        151.65     1

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        7043 non-null   object
 1   gender            7043 non-null   object
 2   seniorcitizen     7043 non-null   int64
 3   partner           7043 non-null   object
 4   dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   phoneservice      7043 non-null   object
 7   multiplelines     7043 non-null   object
 8   internetservice   7043 non-null   object
 9   onlinesecurity    7043 non-null   object
 10  onlinebackup      7043 non-null   object
 11  deviceprotection  7043 non-null   object
 12  techsupport       7043 non-null   object
 13  streamingtv       7043 non-null   object
 14  streamingmovies   7043 non-null   object
 15  contract          7043 non-null   object
 16  paperlessbilling  7043 non-null   object
 17  paymentmethod     7043 non-null   object
 18  monthlycharges    7043 non-null   float64
 19  totalcharges      7043 non-null   object
 20  churn             7043 non-null   int64
dtypes: float64(1), int64(3), object(17)
memory usage: 1.1+ MB
None
        customerid gender  seniorcitizen partner dependents       tenure  \
count         7043   7043    7043.000000    7043       7043  7043.000000
unique        7043      2            NaN       2          2          NaN
top     3186-AJIEK   Male            NaN      No         No          NaN
freq             1   3555            NaN    3641       4933          NaN
mean           NaN    NaN       0.162147     NaN        NaN    32.371149
std            NaN    NaN       0.368612     NaN        NaN    24.559481
min            NaN    NaN       0.000000     NaN        NaN     0.000000
25%            NaN    NaN       0.000000     NaN        NaN     9.000000
50%            NaN    NaN       0.000000     NaN        NaN    29.000000
75%            NaN    NaN       0.000000     NaN        NaN    55.000000
max            NaN    NaN       1.000000     NaN        NaN    72.000000

       phoneservice multiplelines internetservice onlinesecurity  ...  \
count          7043          7043            7043           7043  ...
unique            2             3               3              3  ...
top             Yes            No     Fiber optic             No  ...
freq           6361          3390            3096           3498  ...
mean            NaN           NaN             NaN            NaN  ...
std             NaN           NaN             NaN            NaN  ...
min             NaN           NaN             NaN            NaN  ...
25%             NaN           NaN             NaN            NaN  ...
50%             NaN           NaN             NaN            NaN  ...
75%             NaN           NaN             NaN            NaN  ...
max             NaN           NaN             NaN            NaN  ...

       deviceprotection techsupport streamingtv streamingmovies  \
count              7043        7043        7043            7043
unique                3           3           3               3
top                  No          No          No              No
freq               3095        3473        2810            2785
mean                NaN         NaN         NaN             NaN
std                 NaN         NaN         NaN             NaN
min                 NaN         NaN         NaN             NaN
25%                 NaN         NaN         NaN             NaN
50%                 NaN         NaN         NaN             NaN
75%                 NaN         NaN         NaN             NaN
max                 NaN         NaN         NaN             NaN

              contract paperlessbilling     paymentmethod monthlycharges  \
count             7043             7043              7043    7043.000000
unique               3                2                 4            NaN
top     Month-to-month              Yes  Electronic check            NaN
freq              3875             4171              2365            NaN
mean               NaN              NaN               NaN      64.761692
std                NaN              NaN               NaN      30.090047
min                NaN              NaN               NaN      18.250000
25%                NaN              NaN               NaN      35.500000
50%                NaN              NaN               NaN      70.350000
75%                NaN              NaN               NaN      89.850000
max                NaN              NaN               NaN     118.750000

        totalcharges        churn
count           7043  7043.000000
unique          6531          NaN
top             20.2          NaN
freq              11          NaN
mean             NaN     0.265370
std              NaN     0.441561
min              NaN     0.000000
25%              NaN     0.000000
50%              NaN     0.000000
75%              NaN     1.000000
max              NaN     1.000000

[11 rows x 21 columns]

In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

def train_random_forest(X_train, y_train):
    # Initialize the RandomForestClassifier
    model = RandomForestClassifier(random_state=42)
    
    # Train the model
    model.fit(X_train, y_train)
    
    return model

def evaluate_model(model, X_test, y_test):
    # Make predictions
    y_pred = model.predict(X_test)
    
    # Evaluate the model
    accuracy = accuracy_score(y_test, y_pred)
    report = classification_report(y_test, y_pred)
    
    print("Model Evaluation:")
    print(f"Accuracy: {accuracy:.2f}")
    print("Classification Report:")
    print(report)
    
    return accuracy, report

if __name__ == "__main__":
    from data_utils import load_and_preprocess_data
    
    # Define dataset paths
    dataset_paths = {
        "Bank_churn": r"C:\Users\Administrator\Desktop\charun\churn_data\Bank_churn.csv",
        "BankChurners": r"C:\Users\Administrator\Desktop\charun\churn_data\BankChurners.csv",
        "churn_bigml_80": r"C:\Users\Administrator\Desktop\charun\churn_data\churn-bigml-80.csv",
        "Customertravel": r"C:\Users\Administrator\Desktop\charun\churn_data\Customertravel.csv",
        "E_Commerce": r"C:\Users\Administrator\Desktop\charun\churn_data\E Commerce Dataset.csv"
    }
    
    # Process and train models for each dataset
    for dataset_name, dataset_path in dataset_paths.items():
        X_train, X_test, y_train, y_test = load_and_preprocess_data(dataset_name, dataset_path)
        
        # Train the model
        model = train_random_forest(X_train, y_train)
        
        # Evaluate the model
        evaluate_model(model, X_test, y_test)

ModuleNotFoundError: No module named 'data_utils'